# keras==3.1.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
numpy==1.26.3
opencv-python==4.9.0.80
pandas==2.2.0
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.2.1
# scikit-learn==1.4.1.post1
# tensorflow==2.16.1
termcolor==2.4.0
# torch==2.0.1+cu117
# torchaudio==2.0.2+cu117
# torchvision==0.15.2+cu117
# tqdm==4.66.2
# ultralytics==8.2.21
screeninfo==0.8.1
pygetwindow==0.0.9
